<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initialscale=1.0">
        <title>Nueva notificación de respuesta.</title>
    </head>
    <body>
        <h1>Hola: <%= name %> </h1>
        <p>Una nueva respuesta ha sido agregada a tu pregunta en el video: "<$= title %>"</p>
        <p>Loguéate a tu cuenta para ver el contenido y continuar el tema.</p>
        <p>Gracias por se parte de la comunidad!</p>
    </body>
</html>